html, body, input, label, option, select, h1, h2, h3, .button, button, .form-group, div {
    font-size: 1.5rem;;
    text-align: center;
    background-color: black;
    color: white;
}

button:hover {
    filter: invert(100%);
}

.photo {
    width: 100%;
}