/* You can add global styles to this file, and also import other style files */
html, body, input, label, button, option, select, .form-group {
    font-size: 2vw;
    text-align: center;
    background-color: black;
    color: white;
}